body{
    background-color: black;
}

header{
    background-color: darkgreen;
    color: white;
    text-align: center;
}
main{
    min-width: 320px;
    max-width: auto;
    margin: auto
    
}
article{
    color: white;
    background-color: rgba(255, 255, 255, 0.116);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
}
h2{
    color: green;
    font: bold;
    font-size: 22px;   
}
.formatimg{
    width: 100%;
    
}